NODE_ID=2
HOST_IP=10.1.40.27

KAFKA_ZOOKEEPER_CONNECT=10.1.40.26:2181,10.1.40.27:2181,10.1.40.28:2181

KAFKA_NUM_PARTITIONS=1
KAFKA_DEFAULT_REPLICATION_FACTOR=3
KAFKA_MIN_INSYNC_REPLICAS=2
KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=3
KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR=3
KAFKA_TRANSACTION_STATE_LOG_MIN_ISR=2
